<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.noriental.modules.project.mapper.DeveloperMapper">

    <resultMap id="developerMap" type="com.noriental.modules.project.entity.DeveloperEntity">
        <id property="id" column="id"/>
        <result property="devName" column="dev_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
</mapper>
